
.message-item-u{
    display: flex;
    margin-bottom: 20px;
}
.message-item-avatar{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}
.message-item-content{
    flex: 1;
    padding: 0 10px;
}
.message-item-content-nickname{
    font-size: 14px;
    margin: 0;
    color: #a4a4a4;
    margin-bottom: 4px;
}
.message-item-content-bubble{
    display: inline-block;
    padding: 10px;
    background-color: #CDCBCD;
    border-radius: 5px;
    position: relative;
    text-align: left;
    word-wrap:break-word;
    word-break:break-all;
}
.message-img{
    max-width: 380px;
}
.message-item.right .message-item-content-bubble:before{
    position: absolute;
    top: 14px;
    right: -10px;
    border: 6px solid transparent;
    content: ' ';
    border-left-color: #CDCBCD;
    border-left-width: 4px;
}
.message-item.left .message-item-content-bubble:before{
    position: absolute;
    top: 14px;
    left: -10px;
    border: 6px solid transparent;
    content: ' ';
    border-right-color: #CDCBCD;
    border-right-width: 4px;
}
.message-item.left .message-item-content{
    text-align: left;
}
.message-item.right .message-item-content{
    text-align: right;
}




/*在线聊天----系统提示消息样式*/
.chatMessage-system,.load-message{
    text-align: center;
    margin: 10px auto;
    max-width: 50%;
    color: #b2b2b2;
    font-size: 12px;
}

.load-message>.icon-time{
    font-size: 14px;
    margin-right: 2px;
}
.load-message{
    color: #346dc6;
    cursor: pointer;
}

/*在线聊天显示框样式*/
.chat-box-content{
    height: 400px!important;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    padding: 0 10px;
}
/*在线聊天---房间名标题样式*/
.chatMessage-box-title {
    text-align: center;
    padding: 5px;
    font-size: large;
    font-family: 方正舒体;
    border-bottom: 1px solid #CCCCCC;
}






/*修改animate默认设置*/
/*#messageDiv{
    -webkit-animate-duration: 2s !important;    !*动画持续时间*!
    -webkit-animate-delay: 1s !important;    !*动画延迟时间*!
    -webkit-animate-iteration-count: 1 !important;    !*动画执行次数*!
}*/

#blogArchives {
    overflow-x: hidden;/*隐藏归档页面底部滑动条*/
    overflow-y: auto;
    height: 780px;
}

/*修改后台markdown编辑器上传图片弹框大小*/
.editormd-dialog{
    height: 400px !important;
}

#open_mail {
    margin-top:30px
}
/*固定QQ头像大小*/
#avatarSmallDiv{
    width: 400px !important;
    height: 400px !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
/*手机号输入框样式*/
.inputDiv{
    -web-kit-appearance:none !important;
    -moz-appearance: none !important;
    font-size:1.2em !important;
    height:2.1em !important;
    border-radius:4px !important;
    border:1px solid #c8cccf !important;
    color:#6a6f77 !important;
    outline:0 !important;
    width:230px !important;
    margin:20px auto !important;
}
/*手机号输入框样式*/
.inputDiv:focus{
    border:1px solid #ff7496 !important;
}

/*上传QQ图片按钮样式*/
#rollback{
    width: 100%;
    left: 20%;
    text-align: center;
    /*padding-top:10px;*/
}
/*评论区可编辑div样式*/
#commentEditor{
    height: 130px !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    color: #555 !important;
    display: block !important;
    font-size: 14px !important;
    line-height: 1.42857 !important;
    padding: 6px 12px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*可编辑div实现placeholder效果*/
#commentEditor:empty:before {
    content: attr(data-placeholder) !important;
    color:#bbb !important;
}
#commentEditor:focus:before {
    content:none !important;
}

/*动态显示与隐藏*/
.myHideStyle{
    display: none !important;
}
.myShowStyle{
    display: inline-block !important;
}

/*博主评论图标样式*/
.adminComment{
    background: #FFF!important;
    color: red !important;
    border-color: red !important;
}

/*访客评论图标样式*/
.visitComment{
    background: #FFF!important;
    color: #3cb5ff !important;
    border-color: #3cb5ff !important;
}
/*游客评论图标样式*/
.touristComment{
    background: #FFF!important;
    color: #BD93A1 !important;
    border-color: #BD93A1 !important;
}
/*github登录，评论图标样式*/
.githubComment{
    background: #FFF!important;
    color: #0aff0c !important;
    border-color: #fffa86 !important;
}

/*.info_avatar{
    width: 200px;
    height: 200px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}*/
/*body{
    background-image: url("../images/bg.png") !important;
}*/

/*body区背景图片*/
body{
    background-image: url("../images/2003222.jpg") !important;

    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center 0 !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    filter: alpha(opacity=70) !important;

    /*-webkit-filter:opacity(0.8) !important;*/
    /*opacity: 0.8 !important;*/
    /*rgba(255,255,255,0.8) !important;*/
   /* hsla(0,0%,100%,.8)!important;*/
   /* rgba(0,0,0,.8);*/
}
/*半透明样式*/
nav,footer{
    opacity: 0.6 !important;
}
#weather-float-he{
    opacity: 0.5 !important;
}
div{
    opacity: 0.98 !important;
}


/*body{
    background-color: hsla(0,0%,100%,.4)!important;
}*/

/*body{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    !*position: fixed;*!
    background: center/cover no-repeat;
    background-image: url(../images/2007785.jpg);
}*/

img {
    opacity:0.8 !important;
    filter:alpha(opacity=80) !important; /* 针对 IE8 以及更早的版本 */
}
img:hover {
    opacity:1.0 !important;
    filter:alpha(opacity=100) !important; /* 针对 IE8 以及更早的版本 */
}

.m-padded-mini {
    padding: 0.2em !important;
}

.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}


.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/*-------text -----*/

.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}

/*-----margin------*/

.m-margin-top-small {
    margin-top:0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}

.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-tb-long {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;

}

/*-----opacity------*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}
/*------position---*/

.m-right-top {
    position: absolute;
    top:0;
    right: 0;
}

/*------display------*/
.m-inline-block {
    display: inline-block !important;
}


/*-----container------设置博客显示内容宽*/

.m-container {
    max-width: 80em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

/*------shadow------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*------positon-----*/

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}


/*-----color-----*/
.m-black {
    color: #333 !important;
}
.m-teal {
    color: #00B5AD !important;
}



.m-mobile-show {
   display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }

    /*设置手机端不透明*/
    div{
        opacity: 1 !important;
    }
}
.friends-link{
    width: 160px;
    height: 220px;
    border: 1px solid #999;
    box-shadow: 5px 5px 5px #999;
    border-radius:8px;
}

.friends-link-image{
    width: 160px;
    height: 170px;
    border-radius: 8px 8px 0px 0px;

}
/*首页Blog头像*/
.m-bg-class_cover {
    width: 100%;
    height: 750px;
    line-height: 50px;
    padding-left: 6px;
    background-color: rgba(0, 0, 0, .60);
    /*color: #FFFFFF;*/
    /*font-size: 26px;*/
    position: absolute;
    left: 0px;
    bottom: 0px;
}
/*导航栏样式*/
.gird-header {
    width: 100%;
    min-height: 60px;
    opacity: 0.8;
    position: fixed;
    background-color: rgba(0,0,0,1);
    z-index: 11002;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e8e9e7;
    font-size: 15px;
}
/*首页顶部头像*/
.m-bg-class_outer {
    display: block;
    /*width: 550px;*/
    /*height: 276px;*/
    /*margin: 10px auto 0 0;*/
    position: relative;
    overflow: hidden;
}
.m-bg-class_cover {
    width: 100%;
    height: 750px;
    line-height: 50px;
    padding-left: 6px;
    background-color: rgba(0, 0, 0, .60);
    /*color: #FFFFFF;*/
    /*font-size: 26px;*/
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.m-margin-top-maxx {
    margin-top: 5em !important;
}
.m-font-size-title-large{
    font-size: 30px;
    color: #ffffff;
    font-family: STSong;
}
.m-font-size-text{
    font-size: 26px;
    color: #ffffff;
    font-family: STXihei;
}
.m-font-size-text-init-title{
    font-size: 24px;
    color: #fffffc;
    align-content: center;
    font-family:'STXingkai';
}
/*
.m-bg-type_outer {
    display: block;
    !*margin: 10px auto 0 0;*!
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.m-bg-class_cover {
    width: 100%;
    height: 750px;
    line-height: 50px;
    padding-left: 6px;
    background-color: rgba(0, 0, 0, .60);
    !*color: #FFFFFF;*!
    !*font-size: 26px;*!
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.m-font-size-title{
    font-size: 400%;
    color: #ffffff;
}*/
